We know it as an anonymous function or function without name (Like Ryan Gosling's Character in Drive. The Driver without name.)

lambda function can be called in one line.

lambda x: x**5

here 'x' is the function parameter
'x**5' is the expression

#### function parameter and the body seperated by the color (:)

#### filter

In [95]:
# take some numbers between 2 to 50 with interval with 3.
# find only those numbers whose square is less than 100

import numpy as np
numbers = list(np.arange(2, 50, 3))
using_lambda = list(filter(lambda x:x**2<100, numbers))
using_lambda

[2, 5, 8]

Certainly, for complex calculations in the function, you should go for a normal user-defined function, but when you have a function with just one expression, lambda function is perfect choice

#### map

In [104]:
import pandas as pd

mylist = np.arange(4, 50, 4)
myseries = pd.Series(mylist)

# convert it into series bcz numpy array doesn't have apply

In [105]:
myseries.apply(lambda x: x+5/x**2)

0      4.312500
1      8.078125
2     12.034722
3     16.019531
4     20.012500
5     24.008681
6     28.006378
7     32.004883
8     36.003858
9     40.003125
10    44.002583
11    48.002170
dtype: float64

#### make uppercase using apply

In [107]:
df = pd.read_csv('dummy.csv')
df

    id      name        city
0  100    shakil  Bangladesh
1  109    isabel      Norway
2  200      erin         usa
3  210  fenellas          uk
4  220     wanda      canada

In [108]:
df['name'] = df['name'].apply(lambda x: x.upper())
df

    id      name        city
0  100    SHAKIL  Bangladesh
1  109    ISABEL      Norway
2  200      ERIN         usa
3  210  FENELLAS          uk
4  220     WANDA      canada