<a href="https://colab.research.google.com/github/ShakilM26/python-is-cool/blob/main/some_tricks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Zip in Python

a=['Peter', 'Olivia', 'Max']
b=['Data Scientist', 'ML Engineer', 'Web Developer']

for a,b in zip(a,b):
  print(a, ':', b)

Peter : Data Scientist
Olivia : ML Engineer
Max : Web Developer

In [ ]:
# Read CSV file 

import csv

with open('apple stock price.csv', 'r') as file:
  r=csv.reader(file)

  for row in r:
    print(row)

['Date', ' Open', ' High', ' Low', ' Close', ' Volume']
['10/26/21', ' 149.33', ' 150.84', ' 149.0101', ' 149.32', ' 60893398']
['10/25/21', ' 148.68', ' 149.37', ' 147.6211', ' 148.64', ' 50720559']
['10/22/21', ' 149.69', ' 150.18', ' 148.64', ' 148.69', ' 58883441']
['10/21/21', ' 148.81', ' 149.64', ' 147.87', ' 149.48', ' 61420992']
['10/20/21', ' 148.70', ' 149.7539', ' 148.12', ' 149.26', ' 58418793']
['10/19/21', ' 147.01', ' 149.17', ' 146.55', ' 148.76', ' 76378891']
['10/18/21', ' 143.445', ' 146.84', ' 143.16', ' 146.55', ' 85589188']
['10/15/21', ' 143.77', ' 144.895', ' 143.51', ' 144.84', ' 67940328']
['10/14/21', ' 142.11', ' 143.88', ' 141.51', ' 143.76', ' 69907102']

In [ ]:
# Extract numbers from text

text='slss0sf1ss7fssf5s8s6d4ssfs22dfs9fss1dd'

import re
find=re.findall('[0-9]', text)
print(''.join(find))

01758642291

In [2]:
# Merge Dictionary 

one={'Anika':60000, 'Steve':51000, 'Marc':82000}
two={'Farhana':80000}

merge_dict={**one, **two}
merge_dict

{'Anika': 60000, 'Farhana': 80000, 'Marc': 82000, 'Steve': 51000}

In [4]:
# Combine multiple if statement 

math=int(input('Enter your math marks: '))
physics=int(input('Enter your physics marks: '))
chemistry=int(input('Enter your chemistry marks: '))
biology=int(input('Enter your biology marks: '))

combine_statement=[math>40, physics>40, chemistry>40, biology>40]

if all(combine_statement):
  print('You have passed every subject.')
elif any(combine_statement):
  print('You failed on any one subject.')

Enter your math marks: 50
Enter your physics marks: 80
Enter your chemistry marks: 60
Enter your biology marks: 70
You have passed every subject.