<a href="https://colab.research.google.com/github/ShakilM26/python-is-cool/blob/main/some_tricks_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Zip in Python

a=['Peter', 'Olivia', 'Max']
b=['Data Scientist', 'ML Engineer', 'Web Developer']

for a,b in zip(a,b):
  print(a, ':', b)

Peter : Data Scientist
Olivia : ML Engineer
Max : Web Developer

In [8]:
a=['Erin', 'Steve', 'Stephen', 'Jennifer', 'Bruce', 'Sarah']
b=['Female', 'Male', 'Male', 'Female', 'Male', 'Female']
c=[50000, 60000, 62000, 50000, 65000, 48000]

# Now zip this 3 variables

zip_it = zip(a, b, c)
output = list(zip_it)
output

[('Erin', 'Female', 50000),
 ('Steve', 'Male', 60000),
 ('Stephen', 'Male', 62000),
 ('Jennifer', 'Female', 50000),
 ('Bruce', 'Male', 65000),
 ('Sarah', 'Female', 48000)]

In [13]:
# Now unzip it

name,gender,salary = zip(*output)
print(name)
print(gender)
print(salary)

('Erin', 'Steve', 'Stephen', 'Jennifer', 'Bruce', 'Sarah')
('Female', 'Male', 'Male', 'Female', 'Male', 'Female')
(50000, 60000, 62000, 50000, 65000, 48000)

In [5]:
# Traversing dictionaries in parallel

one={'Name': 'Shakil', 'Job_title': 'Data Scientist', 'City': 'Rajshahi'}
two={'Name': 'Belal', 'Job_title': 'ML Engineer', 'City': 'Naogaon'}

for (s1, s2), (m1, m2) in zip(one.items(), two.items()):
  print(s1, '-', s2)

('Name', 'Shakil') ('Name', 'Belal')
('Job_title', 'Data Scientist') ('Job_title', 'ML Engineer')
('City', 'Rajshahi') ('City', 'Naogaon')

In [11]:
# sorting with zip 

company=['Apple', 'Google', 'Amazon', 'Twitter', 'Microsoft']
number=[2, 1, 4, 5, 3]

# sorted by letters
sort_letter=sorted(list(zip(company, number)))
sort_letter

# sorted by numbers
sort_number=sorted(list(zip(number, company)))
sort_number

[(1, 'Google'), (2, 'Apple'), (3, 'Microsoft'), (4, 'Amazon'), (5, 'Twitter')]

In [12]:
# Calculate in pairs

buying=[500, 1000, 2000]
sales=[400, 1400, 2150]

for s, m in zip(buying, sales):
  calculate= m-s
  print(f'profile or loss: {calculate}')

profile or loss: -100
profile or loss: 400
profile or loss: 150

In [19]:
# building dictionaries 

keys=['Name', 'Age', 'City', 'Madeup_name']
person=['Bruce Wayne', 25, 'Gotham', 'Batman']

make_dict=dict(zip(keys, person))
make_dict

{'Age': 25, 'City': 'Gotham', 'Madeup_name': 'Batman', 'Name': 'Bruce Wayne'}

In [20]:
# Read CSV file 

import csv

with open('file.csv', 'r') as file:
  r=csv.reader(file)

  for row in r:
    print(row)

['Date', 'Time', 'Day', 'Month', 'Money', 'Things', 'Address', 'Shopper']
[]
['01/04/2022', '10:10:00', 'Friday', 'April', 'Singara', '15', 'Mirpur2', 'Hotel']
['01/04/2022', '21:40:00', 'Friday', 'April', 'Khala', '500', 'Mirpur2', 'Mess']
['01/04/2022', '21:10:00', 'Friday', 'April', 'Room', '2300', 'Mirpur2', 'Mess']
['01/04/2022', '21:10:00', 'Friday', 'April', 'Service charge', '560', 'Mirpur2', 'Mess']
['01/04/2022', '21:10:00', 'Friday', 'April', 'Meal', '1200', 'Mirpur2', 'Mess']
['02/04/2022', '10:20:00', 'Saturday', 'April', 'Porata', '20', 'Mirpur2', 'Hotel']
['02/04/2022', '18:40:00', 'Saturday', 'April', 'Punjabi', '320', 'Mirpur6', 'Other']

In [ ]:
# Extract numbers from text

text='slss0sf1ss7fssf5s8s6d4ssfs22dfs9fss1dd'

import re
find=re.findall('[0-9]', text)
print(''.join(find))

01758642291

In [23]:
# Nested List
# When a list takes another list (sublist) as an element, it is called a nested list.
# Inside the sublist we can access it's elements 

element=[1,2,3,4,[5,6,8,9]]
print(element[3])
print(element[4])
print(element[4][3])

4
[5, 6, 8, 9]
9