# Thanks freecodecamp

In [1]:
import re

In [2]:
string = 'I went to the bar with my barber holding a crowbar'

pattern = r'\b a \b'

find = re.findall(pattern=pattern, string=string)

print(f"The word 'a' appears in the string {len(find)} times")

The word 'a' appears in the string 1 times

In [4]:
string = 'I went to the bar with my barber holding a crowbar'

pattern = r'\bbar\b'

result = re.sub(pattern=pattern, repl='hospital', string=string)

print(result)

I went to the hospital with my barber holding a crowbar

In [5]:
# find words with 3 or more characters
string = 'I went to the bar with my barber holding a crowbar'

pattern = r'\b\w{3,}\b'

result = re.findall(pattern=pattern, string=string)

print(result)

['went', 'the', 'bar', 'with', 'barber', 'holding', 'crowbar']

In [6]:
# find words that start with b and end with r

string = 'I went to the bar with my barber holding a crowbar'

pattern = r'\b(b[^\s]+r)\b'

result = re.findall(pattern=pattern, string=string)
result

['bar', 'barber']

In [7]:
import pandas as pd

df = pd.read_csv('G:/Learning/My jupyter csv files/tweet obama.csv', usecols=['text'])
df.head()

                                                text
0  I'm grateful to @SenJohnMcCain for his lifetim...
1  Michelle &amp; I are praying for the victims i...
2  Proud to cheer on Team USA at the Invictus Gam...
3  We're expanding our efforts to help Puerto Ric...
4  Prosecutor, soldier, family man, citizen. Beau...

In [8]:
def collect_usernames(tweet: str) -> list:
    "collect usernames in a given tweet"

    pattern = r'@\S+'
    username = re.findall(pattern=pattern, string=tweet)
    return username

df['Usernames'] = df['text'].apply(lambda x: collect_usernames(x))
df[['text', 'Usernames']].head()

                                                text         Usernames
0  I'm grateful to @SenJohnMcCain for his lifetim...  [@SenJohnMcCain]
1  Michelle &amp; I are praying for the victims i...                []
2  Proud to cheer on Team USA at the Invictus Gam...                []
3  We're expanding our efforts to help Puerto Ric...                []
4  Prosecutor, soldier, family man, citizen. Beau...                []

In [9]:
def remove_links(tweet: str) -> list:
    
    pattern = r'https\S+'
    tweet_new = re.sub(pattern=pattern, repl='', string=tweet)
    return tweet_new

df['Text (Without Links)'] = df['text'].apply(lambda x: remove_links(x))
df[['text', 'Text (Without Links)']].head()

,text,Text (Without Links)
0,I'm grateful to @SenJohnMcCain for his lifetim...,I'm grateful to @SenJohnMcCain for his lifetim...
1,Michelle &amp; I are praying for the victims i...,Michelle &amp; I are praying for the victims i...
2,Proud to cheer on Team USA at the Invictus Gam...,Proud to cheer on Team USA at the Invictus Gam...
3,We're expanding our efforts to help Puerto Ric...,We're expanding our efforts to help Puerto Ric...
4,"Prosecutor, soldier, family man, citizen. Beau...","Prosecutor, soldier, family man, citizen. Beau..."